.message-count {
  color: #fff;
  font-size: 10px;
  font-family: Arial, san-serif;
  font-weight: bold;
}


.badge {
  position: absolute;
  right: 0px;
  top: -5px;
  z-index: 10;
}

.messages img {
  width: 15px;
  height: auto;
}

.messages {
  width: 50px;
  height: 50px;
  background-image: url(../images/message.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin: 15% 0 0 0;
  position: relative;
}

.badge {
  background: radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -moz-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -ms-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -o-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #ed2324 26px );
  background-color: #ed2324;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 12% 12%;
  position: relative;
  right: -5.8px;
  top: -9px;
  float: right;
  display: block;
}

.message-count {
  position: relative;
  display: block;
  font: bold 14px/13px Helvetica, Verdana, Tahoma;
  text-align: center;
  margin: 0;
  top: 2px;
}