body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
	background-color: #011f4b;
}

* {
	box-sizing: border-box;
}

.column {
	height: 100%;
	float: left;
	padding: 10px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/*----------------------------*/

.header {
	overflow: hidden;
	font-weight: bold;
    background-color: #b3cde0;
    transition: all 0.5s;
}

.header img{
	float: left;
	padding: 5px 0px 0px 10px;
    width: 55px;
    height: 50px;
}

.header a {
    float: right;
    color: black;
	font-size: 16px;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
	display: block;
}

.headerdropdown {
	float: right;
	overflow: hidden;
}

.headerdropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	font-weight: bold;
	color: black;
	padding: 16px 46px;
	font-family: inherit;
	background-color: inherit;
	margin: 0;
	border-radius: 0px;
}

.headerdropdown, .dropbtn:hover {
	color: white;
}

.header a:hover, .headerdropdown:hover {
    background-color: #264276;
    color: white;
}

.header a.active, .headerdropdown.active {
    background-color: #001F5A;
    color: white;
}

.headerdropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.headerdropdown-content a {
	float: none;
	color: black;
	padding: 12px 10px;
	display: block;
	text-align: left;
}

.headerdropdown-content a:hover {
	background-color: #264276;
	
}

.headerdropdown:hover .headerdropdown-content {
	display: block;
}

/*----------------------------*/

.sidenav {
	width: 20%;
	padding: 10px;
	z-index: 1;
	font-weight: bold;
	overflow: hidden;
	background-color: #00143D;
	padding-top: 12px;
	padding-bottom: 40px;
	border-radius: 0 0 5px 0;
	
}

.sidenav img {
	border-radius: 50%;
	padding: 20px 0px 20px 1px;
    width: 30%;
}

.sidenav a {
	padding: 20px 25px 20px 40px;
	text-decoration: none;
	font-size: 16px;
	color: white;
	display: block;
}

.sidenav a:hover {
    background-color: #264276;
    color: white;
	border-radius: 5px;
}

.sidenav a.active {
    background-color: #001F5A;
    color: white;
	border-radius: 5px;
}

/*----------------------------*/

.contents {
	width: 80%;
	padding: 30px;
	z-index: 1;
	overflow: hidden;
	color: white;
}

.contents p {
	font-size: 15px;
	font-family: 'Trebuchet MS', sans-serif;;
}

.common {
	width: 50%;
	padding: 10px;
	z-index: 1;
	overflow: hidden;	
}

.backimage {
	width: 50%;
	padding: 10px;
	z-index: 1;
	overflow: hidden;	
}

button{
	margin: 10px;
	padding: 15px;
	background-color: #6497b1;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);	
}

.procol1 {
	float: left;
	text-align: center;
	width: 25%;
	padding: 40px 50px 0px 10px;
}

 .procol1 img {
	border-radius: 50%;
	padding: 5px 5px 5px 5px;
	box-shadow: 0 0 0 10px #264276;
    width: 60%;
}

.procol2 {
	float: left;
	width: 35%;
	padding: 10px;
}

.procol3 {
	float: left;
	width: 40%;
	padding-top: 70px;
}

.procol4 {
	float: left;
	width: 25%;
	padding: 10px;
}

.procol5 {
	float: left;
	width: 75%;
	padding: 10px;
}

/*----------------------------*/

.footer {
	position: sticky;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	background-color: #b3cde0;
	transition: all 0.5s;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.colthird {
	float: left;
	width: 33.3%;
	padding: 10px;
}

.colfot1 {
	float: left;
	width: 25.5%;
	padding: 10px;
}

.colfot2 {
	float: left;
	width: 10%;
	padding: 10px;
}

.colfot2 img {
	padding-top: 10px;
	display: block;
	height: auto;
	max-width: 100%;
}

.colfot3 {
	color: black;
	float: left;
	width: 5%;
	padding: 10px;
}

.colicon {
	float: left;
	width: 20%;
	padding: 5px;
}

/*----------------------------*/

@media screen and (max-height: 450px) {
	.header a {font-size: 10px;}
	.sidenav a {font-size: 10px;}
}